<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include ('partials/header') %>
    <div>
        <h2><%= nome %></h2>
        <h4><%= cargo %></h4>
        <div>
            <a href="mailto:anajulia3907@gmail.com">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a href="https://www.linkedin.com/in/ana-gaspar-957775325/">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/anajgaspar">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</body>
</html>