<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include ('partials/header') %>
    <div>
        <div>
            <h2><%= titulo %></h2>
            <hr>
        </div>
        <div>
            <p>Abaixo estão os projetos que desenvolvi até o momento:</p>
        </div>
        <div>

        </div>
    </div>
</body>
</html>